@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 bg-[url('/images/light-beams.jpg')] bg-[length:150rem] bg-fixed bg-bottom bg-no-repeat text-slate-500 dark:bg-[#0B1120] dark:bg-[url('/images/dark-beams.jpg')] dark:bg-[length:86.125rem] dark:text-slate-400;
  }

  h1,
  h2 {
    @apply text-slate-900 dark:text-white;
  }

  p {
    @apply text-lg text-slate-600 dark:text-slate-400;
  }

  #__next {
    @apply relative grid min-h-screen grid-rows-[auto_1fr_auto] bg-[url('/images/light-grid.svg')] dark:bg-[url('/images/dark-grid.svg')];
  }
}

@layer components {
  .menu-item {
    @apply flex items-center rounded-md p-2 text-sm text-white ui-active:bg-slate-700 dark:ui-active:bg-slate-800;
  }

  .menu-icon {
    @apply mr-2 h-4 w-4 fill-slate-400;
  }
}
